{% extends "base.html"%}
{% block content %}
<h1>ceasar </h1>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Caesar Cipher Encrpytion</legend>
                <p>The Caesar Cipher technique is one of the earliest and simplest method of encryption technique. 
                    It’s simply a type of substitution cipher, i.e., each letter of a given text is replaced
                     by a letter some fixed number of positions down the alphabet. For example with a shift of 1, 
                     A would be replaced by B, B would become C, and so on. The method is apparently named after J
                     ulius Caesar, who apparently used it to communicate with his officials.
                    Thus to cipher a given text we need an integer value, known as shift which indicates the number of position each letter of the text has been moved down. </p>
                <div class="form-group">
                    {{ form.plaintext.label(class="form-control-label") }}
                    {% if form.plaintext.errors %}
                        {{ form.plaintext(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.plaintext.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.plaintext(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.key.label(class="form-control-label") }}
                    {% if form.key.errors %}
                        {{ form.key(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.key.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.key(class="form-control form-control-lg") }}
                    {% endif %}
                </div><br>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
    </form>
    {% if results != None%}
    <h1>{{results}}</h1>

    {% endif %}
            
            
            
</div>
{% endblock %}